.footer {
  padding: 3rem;
  background: hsl(110, 87%, 12%);
}

.logo {
  display: flex;
  align-items: center;
}
.logo span {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.footer-links {
  list-style-type: none;
}

.footer-links li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.footer-links li a {
  text-decoration: none;
  color: var(--light-white);
  margin: 0 0.5rem;
}

.footer-links li a:hover {
  cursor: pointer;
  color: var(--white);
}
.social-media-links li {
  display: inline;
  margin: 0 1rem;
}

.social-media-links .copyright-container {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 3rem 2rem;
  }

  .footer-links-container {
    flex-direction: column;
  }
}
